{
  "extends": "eslint-config-airbnb",
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "prefer-arrow-callback": "off",
    "no-restricted-syntax": "off",
    "func-names": "off",
    "brace-style": [1, "stroustrup", { "allowSingleLine": true }],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "radix": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "jquery": true
  }
}
