body#single-caster-frame {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.team-logo,
.team-name-flex,
.team-score-flex
{
  display: none;
}