body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: white;
  font-family: "Brandon Groteqsue Medium", sans-serif;
}

#draft-wrapper {
  background-image: url("../images/draft-hud.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.team-name-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.4vw;
  height: 6.5vh;
  top: 5.5vh;
}

.team-name-flex.blue {
  right: 57.7vw;
}

.team-name-flex.red {
  left: 57.7vw;
}

.team-name {
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
  text-align: center;
  color: #FFF;
}

.team-score-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3.5vw;
  height: 6.8vh;
  top: 3vw;
}

.team-score-flex.blue {
  right: 53.3vw;
}

.team-score-flex.red {
  left: 53.3vw;
}

.team-score {
  color: #FFF;
  font-size: 2.5vw;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
  text-align: center;
}

.team-logo {
  display: none;
}