      .Abat {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/abathur.png');
      }
    
      .Alar {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/alarak.png');
      }
    
      .Alex {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/alexstrasza.png');
      }
    
      .HANA {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/ana.png');
      }
    
      .Anub {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/anubarak.png');
      }
    
      .Arts {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/artanis.png');
      }
    
      .Arth {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/arthas.png');
      }
    
      .Auri {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/auriel.png');
      }
    
      .Azmo {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/azmodan.png');
      }
    
      .Fire {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/blaze.png');
      }
    
      .Faer {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/brightwing.png');
      }
    
      .Amaz {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/cassia.png');
      }
    
      .Chen {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/chen.png');
      }
    
      .CCho {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/chogall.png');
      }
    
      .Chro {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/chromie.png');
      }
    
      .DECK {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/deckard.png');
      }
    
      .Deha {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/dehaka.png');
      }
    
      .Diab {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/diablo.png');
      }
    
      .DVA0 {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/dva.png');
      }
    
      .L90E {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/etc.png');
      }
    
      .Fals {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/falstad.png');
      }
    
      .FENX {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/fenix.png');
      }
    
      .Gall {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/gall.png');
      }
    
      .Garr {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/garrosh.png');
      }
    
      .Tink {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/gazlowe.png');
      }
    
      .Genj {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/genji.png');
      }
    
      .Genn {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/greymane.png');
      }
    
      .Guld {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/guldan.png');
      }
    
      .Hanz {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/hanzo.png');
      }
    
      .Illi {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/illidan.png');
      }
    
      .Jain {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/jaina.png');
      }
    
      .Crus {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/johanna.png');
      }
    
      .Junk {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/junkrat.png');
      }
    
      .Kael {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/kaelthas.png');
      }
    
      .KelT {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/kelthuzad.png');
      }
    
      .Kerr {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/kerrigan.png');
      }
    
      .Monk {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/kharazim.png');
      }
    
      .Leor {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/leoric.png');
      }
    
      .LiLi {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/lili.png');
      }
    
      .Wiza {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/liming.png');
      }
    
      .Medi {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/ltmorales.png');
      }
    
      .Luci {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/lucio.png');
      }
    
      .Drya {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/lunara.png');
      }
    
      .Maie {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/maiev.png');
      }
    
      .Malf {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/malfurion.png');
      }
    
      .MalG {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/malganis.png');
      }
    
      .MALT {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/malthael.png');
      }
    
      .Mdvh {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/medivh.png');
      }
    
      .MEPH {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/mephisto.png');
      }
    
      .Mura {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/muradin.png');
      }
    
      .Murk {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/murky.png');
      }
    
      .Witc {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/nazeebo.png');
      }
    
      .Nova {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/nova.png');
      }
    
      .Prob {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/probius.png');
      }
    
      .Ragn {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/ragnaros.png');
      }
    
      .Rayn {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/raynor.png');
      }
    
      .Rehg {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/rehgar.png');
      }
    
      .Rexx {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/rexxar.png');
      }
    
      .Samu {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/samuro.png');
      }
    
      .Sgth {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/sgthammer.png');
      }
    
      .Barb {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/sonya.png');
      }
    
      .Stit {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/stitches.png');
      }
    
      .STUK {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/stukov.png');
      }
    
      .Sylv {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/sylvanas.png');
      }
    
      .Tass {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/tassadar.png');
      }
    
      .Butc {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/thebutcher.png');
      }
    
      .Lost {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/thelostvikings.png');
      }
    
      .Thra {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/thrall.png');
      }
    
      .Tra0 {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/tracer.png');
      }
    
      .Tych {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/tychus.png');
      }
    
      .Tyrl {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/tyrael.png');
      }
    
      .Tyrd {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/tyrande.png');
      }
    
      .Uthe {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/uther.png');
      }
    
      .VALE {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/valeera.png');
      }
    
      .Demo {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/valla.png');
      }
    
      .Vari {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/varian.png');
      }
    
      .WHIT {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/whitemane.png');
      }
    
      .Necr {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/xul.png');
      }
    
      .YREL {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/yrel.png');
      }
    
      .Zaga {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/zagara.png');
      }
    
      .Zary {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/zarya.png');
      }
    
      .Zera {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/zeratul.png');
      }
    
      .ZULJ {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/zuljin.png');
      }
    
      .IMPE {
        background-image: url('../../stats-of-the-storm/assets/heroes-talents/images/heroes/imperius.png');
      }