.Abat {
  background-image: url('../images/hero-hex/abathur.png');
}

.Alar {
  background-image: url('../images/hero-hex/alarak.png');
}

.Alex {
  background-image: url('../images/hero-hex/alexstrasza.png');
}

.HANA {
  background-image: url('../images/hero-hex/ana.png');
}

.Andu {
  background-image: url('../images/hero-hex/anduin.png');
}

.Anub {
  background-image: url('../images/hero-hex/anubarak.png');
}

.Arts {
  background-image: url('../images/hero-hex/artanis.png');
}

.Arth {
  background-image: url('../images/hero-hex/arthas.png');
}

.Auri {
  background-image: url('../images/hero-hex/auriel.png');
}

.Azmo {
  background-image: url('../images/hero-hex/azmodan.png');
}

.Fire {
  background-image: url('../images/hero-hex/blaze.png');
}

.Faer {
  background-image: url('../images/hero-hex/brightwing.png');
}

.Amaz {
  background-image: url('../images/hero-hex/cassia.png');
}

.Chen {
  background-image: url('../images/hero-hex/chen.png');
}

.CCho {
  background-image: url('../images/hero-hex/cho.png');
}

.Chro {
  background-image: url('../images/hero-hex/chromie.png');
}

.DEAT {
  background-image: url('../images/hero-hex/deathwing.png');
}

.DECK {
  background-image: url('../images/hero-hex/deckard.png');
}

.Deha {
  background-image: url('../images/hero-hex/dehaka.png');
}

.Diab {
  background-image: url('../images/hero-hex/diablo.png');
}

.DVA0 {
  background-image: url('../images/hero-hex/dva.png');
}

.L90E {
  background-image: url('../images/hero-hex/etc.png');
}

.Fals {
  background-image: url('../images/hero-hex/falstad.png');
}

.FENX {
  background-image: url('../images/hero-hex/fenix.png');
}

.Gall {
  background-image: url('../images/hero-hex/gall.png');
}

.Garr {
  background-image: url('../images/hero-hex/garrosh.png');
}

.Tink {
  background-image: url('../images/hero-hex/gazlowe.png');
}

.Genj {
  background-image: url('../images/hero-hex/genji.png');
}

.Genn {
  background-image: url('../images/hero-hex/greymane.png');
}

.Guld {
  background-image: url('../images/hero-hex/guldan.png');
}

.Hanz {
  background-image: url('../images/hero-hex/hanzo.png');
}

.Illi {
  background-image: url('../images/hero-hex/illidan.png');
}

.Jain {
  background-image: url('../images/hero-hex/jaina.png');
}

.Crus {
  background-image: url('../images/hero-hex/johanna.png');
}

.Junk {
  background-image: url('../images/hero-hex/junkrat.png');
}

.Kael {
  background-image: url('../images/hero-hex/kaelthas.png');
}

.KelT {
  background-image: url('../images/hero-hex/kelthuzad.png');
}

.Kerr {
  background-image: url('../images/hero-hex/kerrigan.png');
}

.Monk {
  background-image: url('../images/hero-hex/kharazim.png');
}

.Leor {
  background-image: url('../images/hero-hex/leoric.png');
}

.LiLi {
  background-image: url('../images/hero-hex/lili.png');
}

.Wiza {
  background-image: url('../images/hero-hex/liming.png');
}

.Medi {
  background-image: url('../images/hero-hex/ltmorales.png');
}

.Luci {
  background-image: url('../images/hero-hex/lucio.png');
}

.Drya {
  background-image: url('../images/hero-hex/lunara.png');
}

.Maie {
  background-image: url('../images/hero-hex/maiev.png');
}

.Malf {
  background-image: url('../images/hero-hex/malfurion.png');
}

.MalG {
  background-image: url('../images/hero-hex/malganis.png');
}

.MALT {
  background-image: url('../images/hero-hex/malthael.png');
}

.Mdvh {
  background-image: url('../images/hero-hex/medivh.png');
}

.MEPH {
  background-image: url('../images/hero-hex/mephisto.png');
}

.Mura {
  background-image: url('../images/hero-hex/muradin.png');
}

.Murk {
  background-image: url('../images/hero-hex/murky.png');
}

.Witc {
  background-image: url('../images/hero-hex/nazeebo.png');
}

.Nova {
  background-image: url('../images/hero-hex/nova.png');
}

.ORPH {
  background-image: url('../images/hero-hex/orphea.png');
}

.Prob {
  background-image: url('../images/hero-hex/probius.png');
}

.NXHU {
  background-image: url('../images/hero-hex/qhira.png');
}

.Ragn {
  background-image: url('../images/hero-hex/ragnaros.png');
}

.Rayn {
  background-image: url('../images/hero-hex/raynor.png');
}

.Rehg {
  background-image: url('../images/hero-hex/rehgar.png');
}

.Rexx {
  background-image: url('../images/hero-hex/rexxar.png');
}

.Samu {
  background-image: url('../images/hero-hex/samuro.png');
}

.Sgth {
  background-image: url('../images/hero-hex/sgthammer.png');
}

.Barb {
  background-image: url('../images/hero-hex/sonya.png');
}

.Stit {
  background-image: url('../images/hero-hex/stitches.png');
}

.STUK {
  background-image: url('../images/hero-hex/stukov.png');
}

.Sylv {
  background-image: url('../images/hero-hex/sylvanas.png');
}

.Tass {
  background-image: url('../images/hero-hex/tassadar.png');
}

.Butc {
  background-image: url('../images/hero-hex/thebutcher.png');
}

.Lost {
  background-image: url('../images/hero-hex/thelostvikings.png');
}

.Thra {
  background-image: url('../images/hero-hex/thrall.png');
}

.Tra0 {
  background-image: url('../images/hero-hex/tracer.png');
}

.Tych {
  background-image: url('../images/hero-hex/tychus.png');
}

.Tyrl {
  background-image: url('../images/hero-hex/tyrael.png');
}

.Tyrd {
  background-image: url('../images/hero-hex/tyrande.png');
}

.Uthe {
  background-image: url('../images/hero-hex/uther.png');
}

.VALE {
  background-image: url('../images/hero-hex/valeera.png');
}

.Demo {
  background-image: url('../images/hero-hex/valla.png');
}

.Vari {
  background-image: url('../images/hero-hex/varian.png');
}

.WHIT {
  background-image: url('../images/hero-hex/whitemane.png');
}

.Necr {
  background-image: url('../images/hero-hex/xul.png');
}

.YREL {
  background-image: url('../images/hero-hex/yrel.png');
}

.Zaga {
  background-image: url('../images/hero-hex/zagara.png');
}

.Zary {
  background-image: url('../images/hero-hex/zarya.png');
}

.Zera {
  background-image: url('../images/hero-hex/zeratul.png');
}

.ZULJ {
  background-image: url('../images/hero-hex/zuljin.png');
}

.IMPE {
  background-image: url('../images/hero-hex/imperius.png');
}
