      .Abat {
        background-image: url('../images/hero-rect/abathur.png');
      }
    
      .Alar {
        background-image: url('../images/hero-rect/alarak.png');
      }
    
      .Alex {
        background-image: url('../images/hero-rect/alexstrasza.png');
      }
    
      .HANA {
        background-image: url('../images/hero-rect/ana.png');
      }
    
      .Anub {
        background-image: url('../images/hero-rect/anubarak.png');
      }
    
      .Arts {
        background-image: url('../images/hero-rect/artanis.png');
      }
    
      .Arth {
        background-image: url('../images/hero-rect/arthas.png');
      }
    
      .Auri {
        background-image: url('../images/hero-rect/auriel.png');
      }
    
      .Azmo {
        background-image: url('../images/hero-rect/azmodan.png');
      }
    
      .Fire {
        background-image: url('../images/hero-rect/blaze.png');
      }
    
      .Faer {
        background-image: url('../images/hero-rect/brightwing.png');
      }
    
      .Amaz {
        background-image: url('../images/hero-rect/cassia.png');
      }
    
      .Chen {
        background-image: url('../images/hero-rect/chen.png');
      }
    
      .CCho {
        background-image: url('../images/hero-rect/cho.png');
      }
    
      .Chro {
        background-image: url('../images/hero-rect/chromie.png');
      }
    
      .DECK {
        background-image: url('../images/hero-rect/deckard.png');
      }
    
      .Deha {
        background-image: url('../images/hero-rect/dehaka.png');
      }
    
      .Diab {
        background-image: url('../images/hero-rect/diablo.png');
      }
    
      .DVA0 {
        background-image: url('../images/hero-rect/dva.png');
      }
    
      .L90E {
        background-image: url('../images/hero-rect/etc.png');
      }
    
      .Fals {
        background-image: url('../images/hero-rect/falstad.png');
      }
    
      .FENX {
        background-image: url('../images/hero-rect/fenix.png');
      }
    
      .Gall {
        background-image: url('../images/hero-rect/gall.png');
      }
    
      .Garr {
        background-image: url('../images/hero-rect/garrosh.png');
      }
    
      .Tink {
        background-image: url('../images/hero-rect/gazlowe.png');
      }
    
      .Genj {
        background-image: url('../images/hero-rect/genji.png');
      }
    
      .Genn {
        background-image: url('../images/hero-rect/greymane.png');
      }
    
      .Guld {
        background-image: url('../images/hero-rect/guldan.png');
      }
    
      .Hanz {
        background-image: url('../images/hero-rect/hanzo.png');
      }
    
      .Illi {
        background-image: url('../images/hero-rect/illidan.png');
      }
    
      .Jain {
        background-image: url('../images/hero-rect/jaina.png');
      }
    
      .Crus {
        background-image: url('../images/hero-rect/johanna.png');
      }
    
      .Junk {
        background-image: url('../images/hero-rect/junkrat.png');
      }
    
      .Kael {
        background-image: url('../images/hero-rect/kaelthas.png');
      }
    
      .KelT {
        background-image: url('../images/hero-rect/kelthuzad.png');
      }
    
      .Kerr {
        background-image: url('../images/hero-rect/kerrigan.png');
      }
    
      .Monk {
        background-image: url('../images/hero-rect/kharazim.png');
      }
    
      .Leor {
        background-image: url('../images/hero-rect/leoric.png');
      }
    
      .LiLi {
        background-image: url('../images/hero-rect/lili.png');
      }
    
      .Wiza {
        background-image: url('../images/hero-rect/liming.png');
      }
    
      .Medi {
        background-image: url('../images/hero-rect/ltmorales.png');
      }
    
      .Luci {
        background-image: url('../images/hero-rect/lucio.png');
      }
    
      .Drya {
        background-image: url('../images/hero-rect/lunara.png');
      }
    
      .Maie {
        background-image: url('../images/hero-rect/maiev.png');
      }
    
      .Malf {
        background-image: url('../images/hero-rect/malfurion.png');
      }
    
      .MalG {
        background-image: url('../images/hero-rect/malganis.png');
      }
    
      .MALT {
        background-image: url('../images/hero-rect/malthael.png');
      }
    
      .Mdvh {
        background-image: url('../images/hero-rect/medivh.png');
      }
    
      .MEPH {
        background-image: url('../images/hero-rect/mephisto.png');
      }
    
      .Mura {
        background-image: url('../images/hero-rect/muradin.png');
      }
    
      .Murk {
        background-image: url('../images/hero-rect/murky.png');
      }
    
      .Witc {
        background-image: url('../images/hero-rect/nazeebo.png');
      }
    
      .Nova {
        background-image: url('../images/hero-rect/nova.png');
      }

      .ORPH {
        background-image: url('../images/hero-rect/orphea.png');
      }      
    
      .Prob {
        background-image: url('../images/hero-rect/probius.png');
      }
    
      .Ragn {
        background-image: url('../images/hero-rect/ragnaros.png');
      }
    
      .Rayn {
        background-image: url('../images/hero-rect/raynor.png');
      }
    
      .Rehg {
        background-image: url('../images/hero-rect/rehgar.png');
      }
    
      .Rexx {
        background-image: url('../images/hero-rect/rexxar.png');
      }
    
      .Samu {
        background-image: url('../images/hero-rect/samuro.png');
      }
    
      .Sgth {
        background-image: url('../images/hero-rect/sgthammer.png');
      }
    
      .Barb {
        background-image: url('../images/hero-rect/sonya.png');
      }
    
      .Stit {
        background-image: url('../images/hero-rect/stitches.png');
      }
    
      .STUK {
        background-image: url('../images/hero-rect/stukov.png');
      }
    
      .Sylv {
        background-image: url('../images/hero-rect/sylvanas.png');
      }
    
      .Tass {
        background-image: url('../images/hero-rect/tassadar.png');
      }
    
      .Butc {
        background-image: url('../images/hero-rect/thebutcher.png');
      }
    
      .Lost {
        background-image: url('../images/hero-rect/thelostvikings.png');
      }
    
      .Thra {
        background-image: url('../images/hero-rect/thrall.png');
      }
    
      .Tra0 {
        background-image: url('../images/hero-rect/tracer.png');
      }
    
      .Tych {
        background-image: url('../images/hero-rect/tychus.png');
      }
    
      .Tyrl {
        background-image: url('../images/hero-rect/tyrael.png');
      }
    
      .Tyrd {
        background-image: url('../images/hero-rect/tyrande.png');
      }
    
      .Uthe {
        background-image: url('../images/hero-rect/uther.png');
      }
    
      .VALE {
        background-image: url('../images/hero-rect/valeera.png');
      }
    
      .Demo {
        background-image: url('../images/hero-rect/valla.png');
      }
    
      .Vari {
        background-image: url('../images/hero-rect/varian.png');
      }
    
      .WHIT {
        background-image: url('../images/hero-rect/whitemane.png');
      }
    
      .Necr {
        background-image: url('../images/hero-rect/xul.png');
      }
    
      .YREL {
        background-image: url('../images/hero-rect/yrel.png');
      }
    
      .Zaga {
        background-image: url('../images/hero-rect/zagara.png');
      }
    
      .Zary {
        background-image: url('../images/hero-rect/zarya.png');
      }
    
      .Zera {
        background-image: url('../images/hero-rect/zeratul.png');
      }
    
      .ZULJ {
        background-image: url('../images/hero-rect/zuljin.png');
      }

      .IMPE {
        background-image: url('../images/hero-rect/imperius.png');
      }