      .Abat {
        background-image: url('../images/hero-hires/abathur.png');
      }
    
      .Alar {
        background-image: url('../images/hero-hires/alarak.png');
      }
    
      .Alex {
        background-image: url('../images/hero-hires/alexstrasza.png');
      }
    
      .HANA {
        background-image: url('../images/hero-hires/ana.png');
      }
    
      .Anub {
        background-image: url('../images/hero-hires/anubarak.png');
      }
    
      .Arts {
        background-image: url('../images/hero-hires/artanis.png');
      }
    
      .Arth {
        background-image: url('../images/hero-hires/arthas.png');
      }
    
      .Auri {
        background-image: url('../images/hero-hires/auriel.png');
      }
    
      .Azmo {
        background-image: url('../images/hero-hires/azmodan.png');
      }
    
      .Fire {
        background-image: url('../images/hero-hires/blaze.png');
      }
    
      .Faer {
        background-image: url('../images/hero-hires/brightwing.png');
      }
    
      .Amaz {
        background-image: url('../images/hero-hires/cassia.png');
      }
    
      .Chen {
        background-image: url('../images/hero-hires/chen.png');
      }
    
      .CCho {
        background-image: url('../images/hero-hires/cho.png');
      }
    
      .Chro {
        background-image: url('../images/hero-hires/chromie.png');
      }
    
      .DECK {
        background-image: url('../images/hero-hires/deckard.png');
      }
    
      .Deha {
        background-image: url('../images/hero-hires/dehaka.png');
      }
    
      .Diab {
        background-image: url('../images/hero-hires/diablo.png');
      }
    
      .DVA0 {
        background-image: url('../images/hero-hires/dva.png');
      }
    
      .L90E {
        background-image: url('../images/hero-hires/etc.png');
      }
    
      .Fals {
        background-image: url('../images/hero-hires/falstad.png');
      }
    
      .FENX {
        background-image: url('../images/hero-hires/fenix.png');
      }
    
      .Gall {
        background-image: url('../images/hero-hires/gall.png');
      }
    
      .Garr {
        background-image: url('../images/hero-hires/garrosh.png');
      }
    
      .Tink {
        background-image: url('../images/hero-hires/gazlowe.png');
      }
    
      .Genj {
        background-image: url('../images/hero-hires/genji.png');
      }
    
      .Genn {
        background-image: url('../images/hero-hires/greymane.png');
      }
    
      .Guld {
        background-image: url('../images/hero-hires/guldan.png');
      }
    
      .Hanz {
        background-image: url('../images/hero-hires/hanzo.png');
      }
    
      .Illi {
        background-image: url('../images/hero-hires/illidan.png');
      }
    
      .Jain {
        background-image: url('../images/hero-hires/jaina.png');
      }
    
      .Crus {
        background-image: url('../images/hero-hires/johanna.png');
      }
    
      .Junk {
        background-image: url('../images/hero-hires/junkrat.png');
      }
    
      .Kael {
        background-image: url('../images/hero-hires/kaelthas.png');
      }
    
      .KelT {
        background-image: url('../images/hero-hires/kelthuzad.png');
      }
    
      .Kerr {
        background-image: url('../images/hero-hires/kerrigan.png');
      }
    
      .Monk {
        background-image: url('../images/hero-hires/kharazim.png');
      }
    
      .Leor {
        background-image: url('../images/hero-hires/leoric.png');
      }
    
      .LiLi {
        background-image: url('../images/hero-hires/lili.png');
      }
    
      .Wiza {
        background-image: url('../images/hero-hires/liming.png');
      }
    
      .Medi {
        background-image: url('../images/hero-hires/ltmorales.png');
      }
    
      .Luci {
        background-image: url('../images/hero-hires/lucio.png');
      }
    
      .Drya {
        background-image: url('../images/hero-hires/lunara.png');
      }
    
      .Maie {
        background-image: url('../images/hero-hires/maiev.png');
      }
    
      .Malf {
        background-image: url('../images/hero-hires/malfurion.png');
      }
    
      .MalG {
        background-image: url('../images/hero-hires/malganis.png');
      }
    
      .MALT {
        background-image: url('../images/hero-hires/malthael.png');
      }
    
      .Mdvh {
        background-image: url('../images/hero-hires/medivh.png');
      }
    
      .MEPH {
        background-image: url('../images/hero-hires/mephisto.png');
      }
    
      .Mura {
        background-image: url('../images/hero-hires/muradin.png');
      }
    
      .Murk {
        background-image: url('../images/hero-hires/murky.png');
      }
    
      .Witc {
        background-image: url('../images/hero-hires/nazeebo.png');
      }
    
      .Nova {
        background-image: url('../images/hero-hires/nova.png');
      }

      .ORPH {
        background-image: url('../images/hero-hires/orphea.png');
      }      
    
      .Prob {
        background-image: url('../images/hero-hires/probius.png');
      }
    
      .Ragn {
        background-image: url('../images/hero-hires/ragnaros.png');
      }
    
      .Rayn {
        background-image: url('../images/hero-hires/raynor.png');
      }
    
      .Rehg {
        background-image: url('../images/hero-hires/rehgar.png');
      }
    
      .Rexx {
        background-image: url('../images/hero-hires/rexxar.png');
      }
    
      .Samu {
        background-image: url('../images/hero-hires/samuro.png');
      }
    
      .Sgth {
        background-image: url('../images/hero-hires/sgthammer.png');
      }
    
      .Barb {
        background-image: url('../images/hero-hires/sonya.png');
      }
    
      .Stit {
        background-image: url('../images/hero-hires/stitches.png');
      }
    
      .STUK {
        background-image: url('../images/hero-hires/stukov.png');
      }
    
      .Sylv {
        background-image: url('../images/hero-hires/sylvanas.png');
      }
    
      .Tass {
        background-image: url('../images/hero-hires/tassadar.png');
      }
    
      .Butc {
        background-image: url('../images/hero-hires/thebutcher.png');
      }
    
      .Lost {
        background-image: url('../images/hero-hires/thelostvikings.png');
      }
    
      .Thra {
        background-image: url('../images/hero-hires/thrall.png');
      }
    
      .Tra0 {
        background-image: url('../images/hero-hires/tracer.png');
      }
    
      .Tych {
        background-image: url('../images/hero-hires/tychus.png');
      }
    
      .Tyrl {
        background-image: url('../images/hero-hires/tyrael.png');
      }
    
      .Tyrd {
        background-image: url('../images/hero-hires/tyrande.png');
      }
    
      .Uthe {
        background-image: url('../images/hero-hires/uther.png');
      }
    
      .VALE {
        background-image: url('../images/hero-hires/valeera.png');
      }
    
      .Demo {
        background-image: url('../images/hero-hires/valla.png');
      }
    
      .Vari {
        background-image: url('../images/hero-hires/varian.png');
      }
    
      .WHIT {
        background-image: url('../images/hero-hires/whitemane.png');
      }
    
      .Necr {
        background-image: url('../images/hero-hires/xul.png');
      }
    
      .YREL {
        background-image: url('../images/hero-hires/yrel.png');
      }
    
      .Zaga {
        background-image: url('../images/hero-hires/zagara.png');
      }
    
      .Zary {
        background-image: url('../images/hero-hires/zarya.png');
      }
    
      .Zera {
        background-image: url('../images/hero-hires/zeratul.png');
      }
    
      .ZULJ {
        background-image: url('../images/hero-hires/zuljin.png');
      }

      .IMPE {
        background-image: url('../images/hero-hires/imperius.png');
      }