:root {
  --blue-border-color: #2185d0;
  --red-border-color: #db2828;
  --tile-border-size: 6px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  background-image: url("../images/generic-nexus-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body#map-tiles-only {
  background-image: none;
}

#map-select-title {
  position: absolute;
  text-align: center;
  width: 44vw;
  font-family: 'Nexa', sans-serif;
  font-size: 8vmin;
  font-weight: bold;
  color: #FFF;
  right: 1.5vw;
  top: 8vh;
}

.team {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 17.5vw;
  background-position: center;
  height: 20vh;
  top: 20vh;
  position: absolute;
}

#blue-team {
  left: 55vw;
}

#red-team {
  right: 2vw;
}

.team-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.team-name-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  align-content: center;
  justify-content: center;
}

.team-name-container .team-name {
  font-family: 'Nexa', sans-serif;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 2.6vmin;
}

#vs-graphic-opt {
  background-image: url(../images/vs-graphic.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 18vw;
  height: 7vh;
  top: 24vh;
  right: 14.4vw;
  z-index: -1;
}

.score-container {
  width: 5vw;
  height: 10vh;
  font-family: 'Nexa', sans-serif;
  font-weight: bold;
  font-size: 7vmin;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 22.6vh;
}

.blue.score-container {
  right: 25.4vw;
  color: var(--blue-border-color);
}

.red.score-container {
  left: 78.9vw;
  color: var(--red-border-color);
}

.score-container .score {
  text-align: center;
}

.map-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vmin;
  height: 90vmin;
  position: absolute;
  left: 5vw;
  top: 5vh;
  align-content: center;
  justify-content: center;
}

#map-tiles-only .map-grid-container {
  width: 100vmin;
  height: 100vmin;
  left: 0;
  top: 0;
}

.map-grid-item {
  width: 30%;
  height: 30%;
  border: 1px black solid;
  position: relative;
}

.four-up .map-grid-item {
  width: 23%;
  height: 23%;
}

.map-grid-item .map-tile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-grid-item.blue-ban .map-tile,
.map-grid-item.red-ban .map-tile
{
  filter: grayscale(100%);
}

.status {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--tile-border-size)*2);
  height: calc(100% - var(--tile-border-size)*2);
  display: none;
  filter: grayscale(0) !important;
}

.status .text {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

.status .text .text-item {
  color: #FFF;
  font-size: 200%;
  letter-spacing: 3px;
  text-align: center;
}

.blue-pick .pick.status,
.blue-ban .ban.status
{
  display: block;
  border: var(--tile-border-size) solid var(--blue-border-color);
}

.blue-pick .pick.status .text,
.blue-ban .ban.status .text
{
  border-top: var(--tile-border-size) solid var(--blue-border-color);
  background-color: #1b659cd9;
}

.red-pick .pick.status,
.red-ban .ban.status
{
  display: block;
  border: var(--tile-border-size) solid var(--red-border-color);
}

.red-pick .pick.status .text,
.red-ban .ban.status .text
{
  border-top: var(--tile-border-size) solid var(--red-border-color);
  background-color: #ab2020d1;
}

.map-selection-container {
  width: 43vw;
  height: 50vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 2vw;
  top: 41vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.map-select-row {
  max-height: 15vh;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 5px;
  position: relative;
}

.map-select-row.win {
  border-width: var(--tile-border-size);
  border-style: solid;
  width: calc(100% - var(--tile-border-size) * 2);
  max-height: calc(15vh - var(--tile-border-size) * 2);
}

.map-select-row.win.blue {
  border-color: var(--blue-border-color);
}

.map-select-row.win.red{
  border-color: var(--red-border-color);
}

.map-select-row.no-pick .win,
.map-select-row.no-pick .picked-by {
  display: none;
}

.map-select-row .map-banner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.8);
}

.map-select-row .picked-by {
  height: 100%;
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
}

.map-select-row .winner {
  height: 100%;
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
}

.picked-by .label,
.winner .label
{
  height: calc(20% - 5px);
  font-family: 'Nexa', sans-serif;
  color: #FFF;
  text-align: center;
  padding-top: 5px;
  font-size: 120%;
}

.banner-team-logo {
  height: 70%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3%;
}

.doom .map-tile {
  background-image: url("../images/panels/doom.png");
}

.boe .map-tile {
  background-image: url("../images/panels/boe.png");
}

.dragon .map-tile {
  background-image: url("../images/panels/dragon.png");
}

.blackheart .map-tile {
  background-image: url("../images/panels/blackheart.png");
}

.mines .map-tile {
  background-image: url("../images/panels/mines.png");
}

.shrines .map-tile {
  background-image: url("../images/panels/shrines.png");
}

.garden .map-tile {
  background-image: url("../images/panels/garden.png");
}

.tomb .map-tile {
  background-image: url("../images/panels/tomb.png");
}

.warhead .map-tile {
  background-image: url("../images/panels/warhead.png");
}

.cursed .map-tile {
  background-image: url("../images/panels/cursed.png");
}

.volskaya .map-tile {
  background-image: url("../images/panels/volskaya.png");
}

.sky .map-tile {
  background-image: url("../images/panels/sky.png");
}

.braxis .map-tile {
  background-image: url("../images/panels/braxis.png");
}

.hanamura .map-tile {
  background-image: url("../images/panels/hanamura.png");
}

.alterac .map-tile {
  background-image: url("../images/panels/alterac.png");
}

.doom .map-banner {
  background-image: url("../images/banners/doom.png");
}

.boe .map-banner {
  background-image: url("../images/banners/boe.png");
}

.dragon .map-banner {
  background-image: url("../images/banners/dragon.png");
}

.blackheart .map-banner {
  background-image: url("../images/banners/blackheart.png");
}

.mines .map-banner {
  background-image: url("../images/banners/mines.png");
}

.shrines .map-banner {
  background-image: url("../images/banners/shrines.png");
}

.garden .map-banner {
  background-image: url("../images/banners/garden.png");
}

.tomb .map-banner {
  background-image: url("../images/banners/tomb.png");
}

.warhead .map-banner {
  background-image: url("../images/banners/warhead.png");
}

.cursed .map-banner {
  background-image: url("../images/banners/cursed.png");
}

.volskaya .map-banner {
  background-image: url("../images/banners/volskaya.png");
}

.sky .map-banner {
  background-image: url("../images/banners/sky.png");
}

.braxis .map-banner {
  background-image: url("../images/banners/braxis.png");
}

.hanamura .map-banner {
  background-image: url("../images/banners/hanamura.png");
}

.alterac .map-banner {
  background-image: url("../images/banners/alterac.png");
}