/* Demo styles, not intended for full use */

body {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.player-popup {
  width: 400px;
  height: 100px;
  position: absolute;
}

.player-popup .player-name {
  font-family: sans-serif;
  color: #FFF;
  position: absolute;
  font-size: 24pt;
  top: 11px;
}

.blue.player-popup .player-name,
.blue.player-popup .hero-name
{
  left: 100px;
}

.red.player-popup .player-name,
.red.player-popup .hero-name
{
  right: 100px;
}

.player-popup .hero-name {
  font-family: sans-serif;
  color: #FFF;
  position: absolute;
  font-size: 18pt;
  top: 53px;
}

.player-popup .portrait {
  width: 78px;
  height: 93px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
}

.blue.player-popup .portrait {
  left: 0;
}

.red.player-popup .portrait {
  right: 0;
}

.all .blue.player-popup {
  left: 19px;
}

.all .red.player-popup {
  right: 19px;
}

.all .blue.player-popup.player-1,
.all .red.player-popup.player-1 
{
  top: 50px;
}

.all .blue.player-popup.player-2,
.all .red.player-popup.player-2
{
  top: 160px;
}

.all .blue.player-popup.player-3,
.all .red.player-popup.player-3
{
  top: 270px;
}

.all .blue.player-popup.player-4,
.all .red.player-popup.player-4
{
  top: 380px;
}

.all .blue.player-popup.player-5,
.all .red.player-popup.player-5
{
  top: 490px;
}

.blue.player-popup .background {
  background-color: #00f;
}

.red.player-popup .background {
  background-color: #F00;
}

.single .player-popup {
  bottom: 200px;
  left: 50px;
}