body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.col {
  display: none;
}

.lt-wrapper {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#lt-static-bg {
  background-color: #1c1c1c;
  height: 200px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0
}

.hero-portrait {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tournament-name-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12.4vw;
  height: 200px;
  bottom: 0vh;
}

.tournament-name {
  text-align: center;
  font-family: 'Lucida Grande', sans-serif;
  color: #FFF;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Lucida Grande', sans-serif;
}

.container .label {
  position: absolute;
  top: 10%;
  font-size: 24pt;
  color: white;
}

.container .stat {
  text-align: center;
  font-size: 36pt;
  color: white;
}

.lt-elem {
  position: absolute;
}

#HGC-hero-draft,
#player-hero
{
  background-color: rgb(0, 40, 170);
  right: 0;
  bottom: 0;
  height: 200px;
  width: 1200px;
  position: absolute;
}

.pick-rate.container,
.win-rate.container {
  height: 100%;
  left: 20%;
  text-align: center;
  width: 20%;
}

.win-rate.container,
.kda.container {
  height: 100%;
  left: 40%;
  text-align: center;
  width: 20%;
}

.kda.container,
.kp.container
{
  height: 100%;
  left: 60%;
  text-align: center;
  width: 20%;
}

.wildcard.container,
.wildcard.container
{
  height: 100%;
  left: 80%;
  text-align: center;
  width: 20%;
}

.kda-sep.stat,
.tdd-sep.stat,
.kda-sep.stat,
.tdd-sep.stat,
.hero-name,
.uptime.container {
  display: none;
}

.hero-portrait {
  left: 0;
  top: 0;
  background-color: black;
  position: absolute;
  width: 20%;
  height: 80%;
}

.hero-name,
.player-name {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 0;
  bottom: 0;
  font-family: 'Lucida Grande', sans-serif;
  text-align: center;
  font-size: 18pt;
  color: white;
}