body#single-caster-frame {
  width: 100vmin;
  height: 100vmin;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/single-caster-frame.png');
}